* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#left {
  margin: 10px;
}

#logo {
  font-family: "Montez", cursive;
  color: blue;
  font-size: 28px;
  padding: 5px 10px;
}

#logo-desc {
  font-family: "Ubuntu Mono", monospace;
}

.btn-header {
  padding: 5px 10px;
  margin: 10px 5px;
  width: 90px;
  background-color: blue;
  color: white;
}
